<h1>New Article</h1>

<!-- Renders the partial _form.html.erb and passes it the @article instance
variable from ArticlesController as a local variable called article. -->
<%= render 'form', article: @article %>